/* Variables */

:root {
  --primary-color: #FF6060;
  --secondary-color: #4A667B;
  --background-color: #F9E8C3;
}

/* CSS Reset
   @author Andy Bell
   @link https://hankchizljaw.com/wrote/a-modern-css-reset/
*/


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts */

@font-face {
  font-family: 'Kelmscott';
  src: local('Kelmscott'),
    url('kelmscot.woff2') format('woff2'),
    url('kelmscot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Hide content */

[hidden], .hidden {
  display: none;
}

.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* Style */

body {
  font-family: 'Kelmscott';
  color: var(--primary-color);
  background: var(--background-color);
  min-height: 100vh;
  padding: 40px;
  min-width: 320px;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
}

::-moz-selection { background: var(--secondary-color); }
::selection      { background: var(--secondary-color); }


header {
  position: absolute;
  top: 5%;
  left: 40px;
  width: calc(100% - 80px);
  max-width: 720px;
  z-index: 1;
  margin-bottom: 6.66rem;
  padding: 0 20px;
}


#falserie-II {
  width: 100%;
  max-width: 300px;
  margin-bottom: 2.5em;
}


/* Video */

#video-container {
  width: 100%;
  height: calc(100vh - 31vw - 160px);
  margin-top: calc(31vw - 40px);
  z-index: -1;
  overflow: hidden;
  margin-bottom: 39px;
}
video {
  width: 100%;
  height: 101%;
  object-fit: cover;
  border-radius: 27vw 27vw 0 0;
}


/* Buttons */

.btn {
  font-family: sans-serif;
  display: inline-block;
  border: 2px solid var(--primary-color);
  border-radius: 32px;
  padding: 0.75em 1.25em;
  text-decoration: none;
  width: 100%;
  max-width: 360px;
  text-align: center;
  z-index: 1;
}
.btn:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

#btn-container {
  position: absolute;
  bottom: 130px;
  right: calc(50% - 30px);
  width: 60px;
  height: 60px;
  padding: 11px 22.5px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background: var(--background-color);
  z-index: 2;
}
#btn-container:hover {
  background: var(--primary-color);
}
#btn-container:hover button {
  border-color: transparent transparent transparent var(--background-color);
}

button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 18.5px;
  border-color: transparent transparent transparent var(--primary-color);
  transition: 100ms all ease;
  cursor: pointer;
  /* play state*/
  border-style: solid;
  border-width: 9.25px 0 9.25px 15px;
}
button.paused {
  border-style: double;
  border-width: 0px 0 0px 15px;
  margin-left: -2px;
}

/* Villageois */

#villageois-container {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 10vw;
  min-width: 60px;
  max-width: 80px;
  min-height: 45px;
  max-height: 60px;
  margin: -8px 20px 20px 10px;
}
.villageois {
  width: 100%;
  position: absolute;
}
#villageois-container:hover #villageois-1,
#villageois-2, #villageois-3 {
  visibility: hidden;
}
#villageois-container:hover #villageois-2 {
  -webkit-animation: toggleVisibility 1s 0s forwards reverse step-end infinite;
  animation: toggleVisibility 1s 0s forwards reverse step-end infinite;
}
#villageois-container:hover #villageois-3 {
  -webkit-animation: toggleVisibility 1s 0s forwards step-end infinite;
  animation: toggleVisibility 1s 0s forwards step-end infinite;
}

@-webkit-keyframes toggleVisibility {
  0%  { visibility: visible; }
  50%  { visibility: hidden; }
  100% { visibility: hidden; }
}
@keyframes toggleVisibility {
  0%  { visibility: visible; }
  50%  { visibility: hidden; }
  100% { visibility: hidden; }
}

/* Tracklist */

ol {
  list-style-type: upper-roman;
  font-size: 0.7rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 440px;
  margin: 3em 0 4em;
  padding-left: 1em;
}
ol > li {
  margin: 0 1em 0 2em;
}
ol > li > a {
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
  padding: 0 0.25em;
  font-size: 1.333em;
  text-decoration: none;
}
ol > li > a.active,
ol > li > a:active,
ol > li > a:focus {
  color: var(--background-color);
  background-color: var(--secondary-color);
}
ol > li > a:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}


/* Footer */

footer {
  padding: 3em 0 1em;
  font-family: sans-serif;
}
footer a {
  border-bottom: 1px solid var(--primary-color);
}

.hide-xs {
  display: none;
}

@media (min-width: 440px) {
  .show-xs {
    display: none;
  }
  .hide-xs {
    display: initial;
  }
}

@media (min-width: 800px) {

  #falserie-II {
    position: absolute;
    bottom: 40px;
    margin-bottom: 0;
  }
  #video-container {
    height: calc(100vh - 208px - 200px);
    margin: 208px 0 0 0;
  }
  .btn {
    position: absolute;
    top: calc(100vh + 45px);
    right: 40px;
    padding: 0.75em 1.5em;
  }
  ol {
    position: absolute;
    left: unset;
    right: 40px;
    bottom: 40px;
    margin-right: -70px;
    margin-bottom: 0.66em;
  }
  footer {
    position: absolute;
    top: 100vh;
    left: 40px;
    right: 40px;
    padding-bottom: 3em;
  }
}

@media (min-width: 1080px) {
  #btn-container {
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
  }
  .btn {
    position: absolute;
    top: unset;
    right: unset;
    left: 175px;
    bottom: 180px;
    width: auto;
  }
  #video-container {
    position: absolute;
    margin-top: unset;
    top: 5%;
    left: unset;
    right: 144px;
    bottom: 40px;
    width: 55vw;
    height: unset;
    z-index: -1;
    overflow: hidden;
  }

  #villageois-container {
    top: unset;
    width: 80px;
    height: 60px;
    bottom: 160px;
    left: 60px;
  }

  #falserie-II {
    padding-top: 100px;
    bottom: 40px;
    right: 40px;
    transform-origin: top left;
    -webkit-transform: rotate(-90deg) translate(-179px, 133px);
            transform: rotate(-90deg) translate(-179px, 133px);
    width: 100%;
    max-width: 300px;
  }

  ol {
    font-size: 0.75em;
    left: 40px;
    right: unset;
    bottom: 40px;
    max-width: 360px;
  }
}
